<p>
    <label for="name">
        username: <input type="text" id="name" name="name" required>
    </label>
</p>
<p>
    <label for="password">
        password: <input type="password" id="password" name="password" required>
    </label>
</p>