<!DOCTYPE html>
<html lang="pl=PL">
    <head>
        <%- include('../partials/head.ejs'); %>
    </head>
    <body>
        <section class=auth-form>
            <div class="inner-container">
                <form action="/admin" method="POST">
                    <h1>Logowanie</h1>
                    <div>
                        <p>
                            <label for="name">
                                login: <input type="text" id="name" name="name" required>
                            </label>
                        </p>
                        <p>
                            <label for="password">
                                hasło: <input type="password" id="password" name="password" required>
                            </label>
                        </p>
                    </div>
                    <p>
                        <button type="submit">Zaloguj</button>
                    </p>
                </form>
            </div>
        </section>
    </body>
</html>