<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body>
    <section class="auth-form">
      <div class="inner-container index-page">
        <div class="content-container">
          <div class="header">
            <h1>
              Welcome to <br> AUTH-APPLICATION
            </h1>
            <h3>
              Choose your login method:
            </h3>
          </div>
          <div class="list-container">
            <ul>
              <li><a href="/login"><button>Normal log in (provide a username and password)</button></a></li>
              <li><a href="/auth/google"><button>Log in with Google</button></a></li>
              <li><a href="/signup"><button>Register a user (create a new account)</button></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
