<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body>
    <div class="header">
      <h1>
        Welcome to AUTH-APLICATION
      </h1>
      <h3>
        Choose your login method:
      </h3>
    </div>
    <div class="list-container">
      <ul>
        <li><a href="/login">Normal log in (providing a username and password)</a></li>
        <li><a href="#">Log in with Google</a></li>
        <li><a href="/signup">Register a user (create a new account)</a></li>
      </ul>
    </div>
  </body>
</html>
