<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body>
    <a href="/auth/logout" class="back-to-index-page">Log out</a>
    <section class="auth-form">
      <div class="inner-container index-page">
        <div class="content-container-profile">
          <div class="header-profile">
            <h1>Welcome to your profile, <%= user.name %></h1>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
